* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-home {
    height: 90vh;
    width: 100%;
}

.navbar ul li {
    display: inline-block;
    margin: 10px;
    font-size: large;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 500px;
}

.card-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social-icon ul li {
    display: inline-block;
    margin: 10px;
    font-size: large;
    margin-top: 50px;
}

/* Projects Cards */
.project-title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card{
    border: 2px solid #000;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-img{
    width: 400px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.stack span {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.project-btn {
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
