* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-home {
    height: 90vh;
    width: 100%;
}

.navbar ul li {
    display: inline-block;
    margin: 10px;
    font-size: large;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 500px;
}

.card-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social-icon ul li {
    display: inline-block;
    margin: 10px;
    font-size: large;
    margin-top: 50px;
}

/* Projects Cards */
.project-title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.projects-cards {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.334%;
    grid-gap: 20px;
}

.card{
    border: 1px solid rgb(208, 217, 212);
    width: 350px;
    height: 470px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(235, 240, 238);
}

.project-img{
    width: 330px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.stack span {
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.project-btn {
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

/* About  */
.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
}

.about-text {
    text-align: center;
    width: 500px;
    margin-bottom: 50px;
}

.resume-btn {
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.single-card {
    border: 1px solid rgb(208, 217, 212);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(235, 240, 238);
}

.img {
    width: 300px;
    height: 200px;
}

.skills span {
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Contact Form */

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.form {
    height: 50vh;
    width: 60%;
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

.form-content p {
    font-style: normal;
    width: 30%;
    font-weight: 500;
    font-size: 27px;
    line-height: 51px;
    color: #172b4d;
    text-align: center;
}

.form { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid rgb(185, 230, 205);
    padding: 20px;
}

.form-btn {
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}
